sudo: false
language: ruby
rvm:
  - 2.4
  - 2.5
  - 2.6
  - 2.7

matrix:
    allow_failures:
        - rvm: 2.6
        - rvm: 2.7

script:
    - bundle exec rake test
    - bundle exec rake coveralls:push
bundler_args: --without gui
env:
    global:
        - TEST_ENABLE_COVERAGE=1
        - TEST_DISABLE_GUI=1
